.jumbotron {
    
    background-color : lightcoral;
    color : black;
    margin-top: 40px;
}

.btn-reserva {
    background-color: lightseagreen;
    width: 100%;
    border-radius: 0px;
    

}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 650px;
}

.card-hotel {

    flex: 1 250px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;


}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}