.jumbotron {
    
    background-color : lightcoral;
    color : black;
    margin-top: 40px;
}

.btn-reserva {
    background-color: lightseagreen;
    width: 100%;
    

}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 70px;
}

.card-hotel {

    flex: 1 150px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;


}